.container-home {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-home .main {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container-home article {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.container-home .main section {
    flex: 1;
    min-width: 350px;
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-text span {
    font-size: 1.9rem;
    font-family: var(--font-3);
}

.home-text h1 {
    font-size: 5rem;
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 20px;
    font-family: var(--font-1);
}

.home-text p {
    line-height: 130%;
    margin-bottom: 15px;
    max-width: 100%;
}


.home-text .instagram {
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    transition: .5s;
}

.home-text .instagram span {
    font-family: var(--font-2);
    font-size: 1.2rem;
}

.home-imgs {
    width: 100%;
    max-height: 70vh;
    overflow: hidden;
    border-radius: 4px;
}

.home-event {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    margin: 20px 0;
    padding: 40px 20px;
    color: #fff;
}

.home-event img {
    width: 100%;
}

.home-event div h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: var(--font-1);
}

.home-event .div-text {
    width: 500px;
    max-width: 95%;
}

.home-event .div-text a {
    display: block;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    text-align: center;
    background-color: #fff;
    transition: .5s;
}

.home-event .div-text a:hover {
    background-color: #e6e6e6;
}

@media (max-width: 780px) {

    /* .home-text {
         align-items: center;
    } */

    .home-text span {
        font-size: 1.7rem;
    }

    .home-text h1 {
        /* text-align: center; */
        font-size: 3rem;
    }

    .container-home main {
        flex-direction: column;
    }

    .home-text {
        margin-bottom: 20px;
    }

}