
@import url('https://fonts.googleapis.com/css2?family=Sigmar&family=Ysabeau+Infant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Ysabeau+Infant:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root {
  --font-1: 'Paytone One', sans-serif;
  --font-2: 'Ysabeau Infant', sans-serif;
  --font-3: 'Parisienne', cursive;
}







* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}


img {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}






.bg-primary {
  background-color: #979DA6;
}

.bg-primary:hover {
  background-color: #C7CFD9;
}






.primary-default {
  color: #282b2e;
}

.bg-primary-default {
  color: #282b2e;
  background-color: #979DA6;
  transition: .5s;
}

.bg-primary-default:hover {
  background-color: #C7CFD9;
}



.secundary-default {
  color: #282b2e;
}

.bg-secundary-default {
  color: #979DA6;
  background-color: #63686d;
  transition: .5s;
}

.bg-secundary-default:hover {
  background-color: #C7CFD9;
  color: #282b2e;
}



.bg-tertiary-default {
  color: #282b2e;
  background-color: #ccc4c4;
}



.border-default {
  border: 1px solid #979DA6;
  border-radius: 4px;
}




/* colors green */

.primary-green {
  color: #678075;
}

.bg-primary-green {
  color: #cecbcb;
  background-color: #678075;
  transition: .5s;
}

.bg-primary-green:hover {
  color: #fff;
  background-color: #34403A;
}



.secundary-green {
  color: #34403A;
}

.bg-secundary-green {
  color: #678075;
  font-weight: 600;
  transition: .5s;
}

.bg-secundary-green:hover {
  color: #aaa2a2;
}



.bg-tertiary-green {
  color: #fff;
  background-color: #616664;
}



.border-green {
  border: 1px solid #678075;
  border-radius: 4px;
}


/* colors pink */

.primary-pink {
  color: #D9B1A3;
}

.bg-primary-pink {
  color: #e2d3d3;
  background-color: #D9B1A3;
  transition: .5s;
}

.bg-primary-pink:hover {
  background-color: #c5a194;
  color: #fff;
}



.secundary-pink {
  color: #8C6456;
}

.bg-secundary-pink {
  color: #D9B1A3;
  font-weight: 600;
  border: 1px solid #D9B1A3;
  border-radius: 4px;
  transition: .5s;
}

.bg-secundary-pink:hover {
  background-color: #D9B1A3;
  color: #fff;
}



.bg-tertiary-pink {
  color: #fff;
  background-color: #a07f73;
}

.bg-tertiary-pink a {
  color: var(#fff);
}



.border-pink {
  border: 1px solid #D9B1A3;
  border-radius: 4px;
}


/* colors blue */

.primary-blue {
  color: #3F6F8C;
}

.bg-primary-blue {
  color: #92b2c7;
  background-color: #3F6F8C;
  transition: .5s;
}

.bg-primary-blue:hover {
  color: #fff;
  background-color: #659AA6;
}



.secundary-blue {
  color: #659AA6;
}

.bg-secundary-blue {
  color: #3F6F8C;
  font-weight: 600;
  border-bottom: 1px solid #3F6F8C;
  transition: .5s;
}

.bg-secundary-blue:hover {
  background-color: #659AA6;
  color: #fff;
}



.bg-tertiary-blue {
  color: #fff;
  background-color: #d7eaf1;
}



.border-blue {
  border: 1px solid #3F6F8C;
  border-radius: 4px;
}





/* colors yellow */

.primary-yellow {
  color: #D9AE30;
}

.bg-primary-yellow {
  color: #d4b455;
  background-color: #9c7911;
  transition: .5s;
}

.bg-primary-yellow:hover {
  color: #fff;
  background-color: #e7bb37;
}



.secundary-yellow {
  color: #F2CF66;
}

.bg-secundary-yellow {
  color: #D9AE30;
  font-weight: 600;
  border-bottom: 1px solid #D9AE30;
  transition: .5s;
}

.bg-secundary-yellow:hover {
  background-color: #F2CF66;
  color: #fff;
}



.bg-tertiary-yellow {
  color: #fff;
  background-color: #f8e4c0;
}



.border-yellow {
  border: 1px solid #D9AE30;
  border-radius: 4px;
}




@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}